*~

# Trying out HLS, now I have random flymake files.
*_flymake.hs

.ghc.environment.*
^dist/
dist-newstyle/
.stack-work/
.ipynb_checkpoints/

# nix
result
result-2

# let's hide the lock files for now
stack*yaml.lock

# We create these from a otebook so never check them in
notebooks/line.json.vl
notebooks/interactive.json.vl
